<app-header></app-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button routerLink="/favlist">Mes favoris</ion-button>
    </ion-col>
  </ion-row>

  <section *ngIf="!loading; else loader">
    <div *ngIf="oeuvres; else error">
      <ion-card *ngFor="let oeuvre of oeuvres" [routerLink]="['/details', oeuvre.id]">
        <img [src]="oeuvre.image" [alt]="oeuvre.name" />
        <ion-card-header>
          <ion-card-title>{{oeuvre.name}}</ion-card-title>
          <ion-card-subtitle>{{oeuvre.author}} - Située à: {{oeuvre.localisation}} - Publié le {{oeuvre.created_at}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <ng-template #error>
      <app-error></app-error>
    </ng-template>
  </section>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
