<app-header title="Ajout d'une nouvelle oeuvre"></app-header>

<ion-content>
<!--  <form #oeuvreForm="ngForm" (ngSubmit)="save()">-->
<!--    <ion-item>-->
<!--      <ion-label>Nom</ion-label>-->
<!--      <ion-input [(ngModel)]="oeuvre.name" name="name" required-->
<!--                 minlength="3" maxlength="60" #name="ngModel"></ion-input>-->
<!--    </ion-item>-->
<!--    <app-error *ngIf="!name.valid && name.touched"-->
<!--               message="Vous devez saisir un nom entre 3 et 60 caractères"></app-error>-->
<!--  </form>-->
  <h1>Add</h1>
</ion-content>
